<doctype html>


<h3>You are logged in </h3>

<a href="/logout">Logout</a>

<p><p>
<a href="{{ url_for('.create') }}"> Create New Record </a>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>


